:root{
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --YouTube: hsl(348, 97%, 39%);
    --DarkToggle:  hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --LightToggle: hsl(230, 22%, 74%);
    --VeryDarkBlue: hsl(230, 17%, 14%);
    --VeryDarkBlue2: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue: hsl(228, 28%, 20%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --White: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --VeryDarkBlue: hsl(230, 17%, 14%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));

}



.follow_card{
    position: relative;
    top: -60px;
    width: 250px;
    text-align: center;
    height: 230px;
    background: var(--DarkDesaturatedBlue);
    border-radius: 10px;
    border-top: 3.2px solid var(--Facebook);
}
.follow_card:hover{
    cursor: pointer;
}


.follow_card:nth-child(3){
    border-top: 3.2px solid hsl(329, 70%, 58%);
    /*border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)); */
}
.follow_card:nth-child(4){
    border-top: 3.2px solid var(--YouTube);
}
.follow_card:nth-child(4) p{
    color: var(--BrightRed);
}
.follow_title{
    padding-top: 25px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.follow_title h5{
    color: var(--DarkGrayishBlue);
}
.follow_card h1{
    font-weight: 700;
    font-size: 50px;
    color: var(--White);
    padding-top: 30px;
    letter-spacing: 5px;
}

.follow_card h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 400;
    color: var(--DarkGrayishBlue);
    padding-top: 10px;
}

.today_contain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
}
.today_contain p{
    color: var(--LimeGreen);
}

